openapi: 3.1.0
info:
  title: Kita Capture Applications Memo API
  version: v1
  summary: Document intelligence — extract structured, validated, fraud-checked data from bank statements, payslips, IDs, credit reports and 30+ other document types.
  description: 'Kita Capture turns scanned or photographed financial and identity documents into clean

    JSON — transactions, metadata, metrics, and fraud signals. Upload a file (multipart or

    base64), submit a URL, or batch up to 100 documents, then poll for results or receive an

    HMAC-signed webhook.


    Authentication uses an organization API key prefixed `kita_prod_` sent as

    `Authorization: Bearer <key>`. Errors return `{ "error": ..., "message": ... }`.

    Rate limiting is per organization; 429 responses carry a `Retry-After` header.


    NOTE: Kita does not publish a machine-readable OpenAPI description. This document was

    generated by the API Evangelist enrichment pipeline from Kita''s own published API

    documentation (shipped verbatim inside the official `kita-docs-mcp` npm package and

    served at https://www.kita.ai/documentation). Only operations, parameters, fields and

    status codes that Kita documents are represented here.

    '
  contact:
    name: Kita Support
    email: support@kita.ai
    url: https://www.kita.ai/documentation
  x-source:
  - https://www.kita.ai/documentation
  - https://unpkg.com/kita-docs-mcp@0.4.0/docs/Documentation.md
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated: '2026-07-19'
servers:
- url: https://portal.usekita.com
  description: Production (default; override with the KITA_API_URL environment variable)
security:
- BearerAuth: []
tags:
- name: Memo
  description: Cited credit memo synthesis and retrieval.
paths:
  /applications/{id}/memo:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    post:
      tags:
      - Memo
      operationId: synthesizeMemo
      summary: Synthesize the credit memo
      description: Drafts or redrafts the cited credit memo. Runs inline for up to roughly 120 seconds.
      x-scope: write
      responses:
        '200':
          description: Synthesis complete.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        examples:
                        - synthesis_complete
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      tags:
      - Memo
      operationId: getMemo
      summary: Get the credit memo
      description: Returns memo sections with citations. Bodies are plain text.
      x-scope: read
      responses:
        '200':
          description: The memo.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Memo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /applications/{id}/memo/status:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    get:
      tags:
      - Memo
      operationId: getMemoStatus
      summary: Get memo synthesis status
      description: Poll until `synthesis_in_progress` is false and `is_stale` is false.
      x-scope: read
      responses:
        '200':
          description: Synthesis progress and freshness.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MemoStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Forbidden:
      description: Valid key lacks the required scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found in this organization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, malformed, unknown, or revoked API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Memo:
      type: object
      properties:
        last_synthesis_at:
          type: string
          format: date-time
        sections:
          type: array
          items:
            type: object
            properties:
              section_number:
                type: integer
              title:
                type: string
              body:
                type: string
              locked_by_lo:
                type: boolean
              updated_at:
                type: string
                format: date-time
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable description of the error.
      required:
      - message
    MemoStatus:
      type: object
      properties:
        synthesis_in_progress:
          type: boolean
        is_stale:
          type: boolean
        stale_reasons:
          type: array
          items:
            type: string
        new_doc_count:
          type: integer
        new_message_count:
          type: integer
        last_run_status:
          type: string
          enum:
          - completed
          - failed
        last_synthesis_at:
          type: string
          format: date-time
  parameters:
    ApplicationId:
      name: id
      in: path
      required: true
      description: Application UUID or human `app_id` (e.g. `APP-1234`).
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Organization API key prefixed `kita_prod_`, issued from the Kita dashboard at

        https://portal.usekita.com and sent as `Authorization: Bearer <key>`.

        '
