openapi: 3.2.0
info:
  title: Kita AI Underwriter Exports API
  version: v1
  summary: Create loan applications, upload borrower documents, and retrieve a deterministic credit picture and cited credit memo.
  description: 'The Kita AI Underwriter API turns borrower documents into a decision-ready credit file.

    Create an application, push documents, and poll for extraction, the deterministic credit

    picture (spread, adjustments, policy decision), and a cited credit memo.


    Authentication uses an organization API key prefixed `kita_uw_`, sent as either

    `Authorization: ApiKey <key>` or `Authorization: Bearer <key>`. Two scopes are enforced

    per endpoint: `read` for GET endpoints and `write` for mutations.


    Errors return `{ "message": "..." }` with a standard HTTP status. `POST /intake` is

    idempotent on `external_ref`.


    NOTE: Kita does not publish a machine-readable OpenAPI description. This document was

    generated by the API Evangelist enrichment pipeline from Kita''s own published API

    reference (https://www.kita.ai/documentation and the API.md in

    Kita-Technologies/kita-api-examples). Only operations, parameters, fields, and status

    codes that Kita documents are represented here.

    '
  contact:
    name: Kita Support
    email: support@kita.ai
    url: https://www.kita.ai/documentation
  x-source:
  - https://www.kita.ai/documentation
  - https://github.com/Kita-Technologies/kita-api-examples/blob/main/API.md
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated: '2026-07-19'
servers:
- url: https://underwriter.kita.ai/api/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Exports
  description: PDF and XLSX exports.
paths:
  /applications/{id}/memo/export:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    get:
      tags:
      - Exports
      operationId: exportMemo
      summary: Export the credit memo or financial spread
      description: '`pdf` (default) returns the credit memo PDF. `xlsx` returns the financial spread

        workbook — income statement, UCA cash flow, DSCR, sensitivity. Returns 404 if no

        spread has been computed yet.

        '
      x-scope: read
      parameters:
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - pdf
          - xlsx
          default: pdf
      responses:
        '200':
          description: The export file.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /applications/{id}/export:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    get:
      tags:
      - Exports
      operationId: exportExtractions
      summary: Export the raw field-extractions workbook
      description: Downloads the extraction workbook as .xlsx, one sheet per file area. Distinct from the memo spread export.
      x-scope: read
      parameters:
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - xlsx
          default: xlsx
      responses:
        '200':
          description: The extractions workbook.
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found in this organization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, malformed, unknown, or revoked API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable description of the error.
      required:
      - message
  parameters:
    ApplicationId:
      name: id
      in: path
      required: true
      description: Application UUID or human `app_id` (e.g. `APP-1234`).
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: 'Organization API key prefixed `kita_uw_`, minted in Settings → API keys and shown once.

        Kita stores only SHA-256 hashes. Both `Authorization: ApiKey <key>` and

        `Authorization: Bearer <key>` are accepted. Keys carry `read` and/or `write` scope;

        a key missing the required scope receives 403.

        '
