openapi: 3.2.0
info:
  title: Kita AI Underwriter Transcripts API
  version: v1
  summary: Create loan applications, upload borrower documents, and retrieve a deterministic credit picture and cited credit memo.
  description: The Kita AI Underwriter API turns borrower documents into a decision-ready credit file.
  contact:
    name: Kita Support
    email: support@kita.ai
    url: https://www.kita.ai/documentation
  x-source:
  - https://www.kita.ai/documentation
  - https://github.com/Kita-Technologies/kita-api-examples/blob/main/API.md
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated: '2026-07-19'
servers:
- url: https://underwriter.kita.ai/api/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Transcripts
  description: Plain-text document transcripts.
paths:
  /applications/{id}/documents/{docId}/transcript:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    - $ref: '#/components/parameters/DocumentId'
    get:
      tags:
      - Transcripts
      operationId: getDocumentTranscript
      summary: Get one document's transcript
      x-scope: read
      parameters:
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - txt
          - json
          default: txt
      responses:
        '200':
          description: The transcript.
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  pages:
                    type: integer
                  block_count:
                    type: integer
                  char_count:
                    type: integer
                  has_text:
                    type: boolean
                  text:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /applications/{id}/transcripts:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    get:
      tags:
      - Transcripts
      operationId: listApplicationTranscripts
      summary: Get transcripts for every document in the file
      x-scope: read
      parameters:
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - txt
          default: json
      responses:
        '200':
          description: Transcripts for the application.
          content:
            application/json:
              schema:
                type: object
            text/plain:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found in this organization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, malformed, unknown, or revoked API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    DocumentId:
      name: docId
      in: path
      required: true
      description: Document identifier.
      schema:
        type: string
    ApplicationId:
      name: id
      in: path
      required: true
      description: Application UUID or human `app_id` (e.g. `APP-1234`).
      schema:
        type: string
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable description of the error.
      required:
      - message
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: 'Organization API key prefixed `kita_uw_`, minted in Settings → API keys and shown once.

        Kita stores only SHA-256 hashes. Both `Authorization: ApiKey <key>` and

        `Authorization: Bearer <key>` are accepted. Keys carry `read` and/or `write` scope;

        a key missing the required scope receives 403.

        '
