openapi: 3.2.0
info:
  title: Kita AI Underwriter Memo API
  version: v1
  summary: Create loan applications, upload borrower documents, and retrieve a deterministic credit picture and cited credit memo.
  description: 'The Kita AI Underwriter API turns borrower documents into a decision-ready credit file.

    Create an application, push documents, and poll for extraction, the deterministic credit

    picture (spread, adjustments, policy decision), and a cited credit memo.


    Authentication uses an organization API key prefixed `kita_uw_`, sent as either

    `Authorization: ApiKey <key>` or `Authorization: Bearer <key>`. Two scopes are enforced

    per endpoint: `read` for GET endpoints and `write` for mutations.


    Errors return `{ "message": "..." }` with a standard HTTP status. `POST /intake` is

    idempotent on `external_ref`.


    NOTE: Kita does not publish a machine-readable OpenAPI description. This document was

    generated by the API Evangelist enrichment pipeline from Kita''s own published API

    reference (https://www.kita.ai/documentation and the API.md in

    Kita-Technologies/kita-api-examples). Only operations, parameters, fields, and status

    codes that Kita documents are represented here.

    '
  contact:
    name: Kita Support
    email: support@kita.ai
    url: https://www.kita.ai/documentation
  x-source:
  - https://www.kita.ai/documentation
  - https://github.com/Kita-Technologies/kita-api-examples/blob/main/API.md
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated: '2026-07-19'
servers:
- url: https://underwriter.kita.ai/api/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Memo
  description: Cited credit memo synthesis and retrieval.
paths:
  /applications/{id}/memo:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    post:
      tags:
      - Memo
      operationId: synthesizeMemo
      summary: Synthesize the credit memo
      description: Drafts or redrafts the cited credit memo. Runs inline for up to roughly 120 seconds.
      x-scope: write
      responses:
        '200':
          description: Synthesis complete.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        examples:
                        - synthesis_complete
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      tags:
      - Memo
      operationId: getMemo
      summary: Get the credit memo
      description: Returns memo sections with citations. Bodies are plain text.
      x-scope: read
      responses:
        '200':
          description: The memo.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Memo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /applications/{id}/memo/status:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    get:
      tags:
      - Memo
      operationId: getMemoStatus
      summary: Get memo synthesis status
      description: Poll until `synthesis_in_progress` is false and `is_stale` is false.
      x-scope: read
      responses:
        '200':
          description: Synthesis progress and freshness.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MemoStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable description of the error.
      required:
      - message
    MemoStatus:
      type: object
      properties:
        synthesis_in_progress:
          type: boolean
        is_stale:
          type: boolean
        stale_reasons:
          type: array
          items:
            type: string
        new_doc_count:
          type: integer
        new_message_count:
          type: integer
        last_run_status:
          type: string
          enum:
          - completed
          - failed
        last_synthesis_at:
          type: string
          format: date-time
    Memo:
      type: object
      properties:
        last_synthesis_at:
          type: string
          format: date-time
        sections:
          type: array
          items:
            type: object
            properties:
              section_number:
                type: integer
              title:
                type: string
              body:
                type: string
              locked_by_lo:
                type: boolean
              updated_at:
                type: string
                format: date-time
  responses:
    NotFound:
      description: Resource not found in this organization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Valid key lacks the required scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, malformed, unknown, or revoked API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    ApplicationId:
      name: id
      in: path
      required: true
      description: Application UUID or human `app_id` (e.g. `APP-1234`).
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: 'Organization API key prefixed `kita_uw_`, minted in Settings → API keys and shown once.

        Kita stores only SHA-256 hashes. Both `Authorization: ApiKey <key>` and

        `Authorization: Bearer <key>` are accepted. Keys carry `read` and/or `write` scope;

        a key missing the required scope receives 403.

        '
