openapi: 3.2.0
info:
  title: Kita AI Underwriter Credit API
  version: v1
  summary: Create loan applications, upload borrower documents, and retrieve a deterministic credit picture and cited credit memo.
  description: 'The Kita AI Underwriter API turns borrower documents into a decision-ready credit file.

    Create an application, push documents, and poll for extraction, the deterministic credit

    picture (spread, adjustments, policy decision), and a cited credit memo.


    Authentication uses an organization API key prefixed `kita_uw_`, sent as either

    `Authorization: ApiKey <key>` or `Authorization: Bearer <key>`. Two scopes are enforced

    per endpoint: `read` for GET endpoints and `write` for mutations.


    Errors return `{ "message": "..." }` with a standard HTTP status. `POST /intake` is

    idempotent on `external_ref`.


    NOTE: Kita does not publish a machine-readable OpenAPI description. This document was

    generated by the API Evangelist enrichment pipeline from Kita''s own published API

    reference (https://www.kita.ai/documentation and the API.md in

    Kita-Technologies/kita-api-examples). Only operations, parameters, fields, and status

    codes that Kita documents are represented here.

    '
  contact:
    name: Kita Support
    email: support@kita.ai
    url: https://www.kita.ai/documentation
  x-source:
  - https://www.kita.ai/documentation
  - https://github.com/Kita-Technologies/kita-api-examples/blob/main/API.md
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated: '2026-07-19'
servers:
- url: https://underwriter.kita.ai/api/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Credit
  description: Deterministic credit picture — spread, adjustments, policy decision.
paths:
  /applications/{id}/credit:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    get:
      tags:
      - Credit
      operationId: getCreditPicture
      summary: Get the deterministic credit picture
      description: 'Returns the normalized `spread` (adjusted EBITDA/net income, DSCR, margins,

        debt-to-worth, current ratio, reserve months, LTV, sensitivity table, per-metric

        provenance), the `adjustments` line items (tagged `ai` or `lo`), and the policy

        engine `decision` with every rule''s pass/fail. Values come from a versioned

        calculation engine, not from an LLM. Layers are null until computed.

        '
      x-scope: read
      responses:
        '200':
          description: The credit picture.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CreditPicture'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found in this organization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, malformed, unknown, or revoked API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable description of the error.
      required:
      - message
    CreditPicture:
      type: object
      properties:
        spread:
          type: object
          nullable: true
          description: Adjusted EBITDA/net income, normalized ratios, sensitivity table, per-metric provenance.
        adjustments:
          type: array
          nullable: true
          description: Normalization line items, each tagged `ai` or `lo`.
          items:
            type: object
        decision:
          type: object
          nullable: true
          description: Policy engine routing recommendation, auto-route flag, per-rule pass/fail with observed vs expected.
  parameters:
    ApplicationId:
      name: id
      in: path
      required: true
      description: Application UUID or human `app_id` (e.g. `APP-1234`).
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: 'Organization API key prefixed `kita_uw_`, minted in Settings → API keys and shown once.

        Kita stores only SHA-256 hashes. Both `Authorization: ApiKey <key>` and

        `Authorization: Bearer <key>` are accepted. Keys carry `read` and/or `write` scope;

        a key missing the required scope receives 403.

        '
