openapi: 3.2.0
info:
  title: Kita AI Underwriter Documents API
  version: v1
  summary: Create loan applications, upload borrower documents, and retrieve a deterministic credit picture and cited credit memo.
  description: 'The Kita AI Underwriter API turns borrower documents into a decision-ready credit file.

    Create an application, push documents, and poll for extraction, the deterministic credit

    picture (spread, adjustments, policy decision), and a cited credit memo.


    Authentication uses an organization API key prefixed `kita_uw_`, sent as either

    `Authorization: ApiKey <key>` or `Authorization: Bearer <key>`. Two scopes are enforced

    per endpoint: `read` for GET endpoints and `write` for mutations.


    Errors return `{ "message": "..." }` with a standard HTTP status. `POST /intake` is

    idempotent on `external_ref`.


    NOTE: Kita does not publish a machine-readable OpenAPI description. This document was

    generated by the API Evangelist enrichment pipeline from Kita''s own published API

    reference (https://www.kita.ai/documentation and the API.md in

    Kita-Technologies/kita-api-examples). Only operations, parameters, fields, and status

    codes that Kita documents are represented here.

    '
  contact:
    name: Kita Support
    email: support@kita.ai
    url: https://www.kita.ai/documentation
  x-source:
  - https://www.kita.ai/documentation
  - https://github.com/Kita-Technologies/kita-api-examples/blob/main/API.md
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated: '2026-07-19'
servers:
- url: https://underwriter.kita.ai/api/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Documents
  description: Borrower document upload and extraction.
paths:
  /applications/{id}/documents:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    post:
      tags:
      - Documents
      operationId: uploadDocuments
      summary: Upload borrower documents
      description: Upload one or more files as multipart/form-data. Each file's extraction pipeline runs after the response returns.
      x-scope: write
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                files:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '201':
          description: Documents accepted for processing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      tags:
      - Documents
      operationId: listDocuments
      summary: List documents on an application
      x-scope: read
      parameters:
      - name: include
        in: query
        required: false
        description: Pass `download_url` to add signed download URLs valid for one hour.
        schema:
          type: string
          enum:
          - download_url
      responses:
        '200':
          description: The documents on this application.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /applications/{id}/documents/{docId}:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    - $ref: '#/components/parameters/DocumentId'
    get:
      tags:
      - Documents
      operationId: getDocument
      summary: Get a document
      description: Returns the document plus the structured `kita_raw` extraction, `recommendations`, and `inconsistencies`.
      x-scope: read
      responses:
        '200':
          description: The document and its extraction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Document'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Documents
      operationId: deleteDocument
      summary: Delete a document
      description: Deletes the file and recomputes file completeness.
      x-scope: write
      responses:
        '200':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: Malformed body, missing fields, or bad parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found in this organization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Valid key lacks the required scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, malformed, unknown, or revoked API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable description of the error.
      required:
      - message
    Document:
      type: object
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/DocumentStatus'
        download_url:
          type: string
          format: uri
          description: Signed URL
          valid one hour. Present when `include=download_url`.: null
        kita_raw:
          type: object
          description: Structured extraction output.
        recommendations:
          type: array
          items:
            type: object
        inconsistencies:
          type: array
          items:
            type: object
    DocumentStatus:
      type: string
      enum:
      - awaiting
      - processing
      - verified
      - low_confidence
      - missing
  parameters:
    ApplicationId:
      name: id
      in: path
      required: true
      description: Application UUID or human `app_id` (e.g. `APP-1234`).
      schema:
        type: string
    DocumentId:
      name: docId
      in: path
      required: true
      description: Document identifier.
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: 'Organization API key prefixed `kita_uw_`, minted in Settings → API keys and shown once.

        Kita stores only SHA-256 hashes. Both `Authorization: ApiKey <key>` and

        `Authorization: Bearer <key>` are accepted. Keys carry `read` and/or `write` scope;

        a key missing the required scope receives 403.

        '
