openapi: 3.2.0
info:
  title: Kita Capture Folders API
  version: v1
  summary: Document intelligence — extract structured, validated, fraud-checked data from bank statements, payslips, IDs, credit reports and 30+ other document types.
  description: 'Kita Capture turns scanned or photographed financial and identity documents into clean

    JSON — transactions, metadata, metrics, and fraud signals.'
  contact:
    name: Kita Support
    email: support@kita.ai
    url: https://www.kita.ai/documentation
  x-source:
  - https://www.kita.ai/documentation
  - https://unpkg.com/kita-docs-mcp@0.4.0/docs/Documentation.md
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated: '2026-07-19'
servers:
- url: https://portal.usekita.com
  description: Production (default; override with the KITA_API_URL environment variable)
security:
- BearerAuth: []
tags:
- name: Folders
  description: Group documents into containers.
paths:
  /api/v1/folders:
    post:
      tags:
      - Folders
      operationId: createFolder
      summary: Create a folder
      description: Folders are containers for grouping documents, e.g. by applicant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Folder created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Folders
      operationId: listFolders
      summary: List folders
      responses:
        '200':
          description: The folders.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/folders/{folderId}/documents:
    parameters:
    - name: folderId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Folders
      operationId: listFolderDocuments
      summary: List documents in a folder
      responses:
        '200':
          description: Documents in the folder.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Document or batch ID does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request — check the request body and parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Bad Request
            message: documents array is required and must not be empty
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Short error label.
        message:
          type: string
          description: Human-readable description.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Organization API key prefixed `kita_prod_`, issued from the Kita dashboard at

        https://portal.usekita.com and sent as `Authorization: Bearer <key>`.

        '
