openapi: 3.1.0
info:
  title: Kita Capture Applications Credit API
  version: v1
  summary: Document intelligence — extract structured, validated, fraud-checked data from bank statements, payslips, IDs, credit reports and 30+ other document types.
  description: 'Kita Capture turns scanned or photographed financial and identity documents into clean

    JSON — transactions, metadata, metrics, and fraud signals. Upload a file (multipart or

    base64), submit a URL, or batch up to 100 documents, then poll for results or receive an

    HMAC-signed webhook.


    Authentication uses an organization API key prefixed `kita_prod_` sent as

    `Authorization: Bearer <key>`. Errors return `{ "error": ..., "message": ... }`.

    Rate limiting is per organization; 429 responses carry a `Retry-After` header.


    NOTE: Kita does not publish a machine-readable OpenAPI description. This document was

    generated by the API Evangelist enrichment pipeline from Kita''s own published API

    documentation (shipped verbatim inside the official `kita-docs-mcp` npm package and

    served at https://www.kita.ai/documentation). Only operations, parameters, fields and

    status codes that Kita documents are represented here.

    '
  contact:
    name: Kita Support
    email: support@kita.ai
    url: https://www.kita.ai/documentation
  x-source:
  - https://www.kita.ai/documentation
  - https://unpkg.com/kita-docs-mcp@0.4.0/docs/Documentation.md
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated: '2026-07-19'
servers:
- url: https://portal.usekita.com
  description: Production (default; override with the KITA_API_URL environment variable)
security:
- BearerAuth: []
tags:
- name: Credit
  description: Deterministic credit picture — spread, adjustments, policy decision.
paths:
  /applications/{id}/credit:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    get:
      tags:
      - Credit
      operationId: getCreditPicture
      summary: Get the deterministic credit picture
      description: 'Returns the normalized `spread` (adjusted EBITDA/net income, DSCR, margins,

        debt-to-worth, current ratio, reserve months, LTV, sensitivity table, per-metric

        provenance), the `adjustments` line items (tagged `ai` or `lo`), and the policy

        engine `decision` with every rule''s pass/fail. Values come from a versioned

        calculation engine, not from an LLM. Layers are null until computed.

        '
      x-scope: read
      responses:
        '200':
          description: The credit picture.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CreditPicture'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found in this organization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, malformed, unknown, or revoked API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable description of the error.
      required:
      - message
    CreditPicture:
      type: object
      properties:
        spread:
          type: object
          nullable: true
          description: Adjusted EBITDA/net income, normalized ratios, sensitivity table, per-metric provenance.
        adjustments:
          type: array
          nullable: true
          description: Normalization line items, each tagged `ai` or `lo`.
          items:
            type: object
        decision:
          type: object
          nullable: true
          description: Policy engine routing recommendation, auto-route flag, per-rule pass/fail with observed vs expected.
  parameters:
    ApplicationId:
      name: id
      in: path
      required: true
      description: Application UUID or human `app_id` (e.g. `APP-1234`).
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Organization API key prefixed `kita_prod_`, issued from the Kita dashboard at

        https://portal.usekita.com and sent as `Authorization: Bearer <key>`.

        '
